body {
  color: #fff;
  background: #fff;
  /* adding outline since all dropdowns have white corner */
  padding: 2px;
}

.list-group, .list-group-item, .pswish-block {
  color: #fff;
  background: #065a98;
}

.pswish-menu .fa {
  font-size: 16px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #0770bd;
}

.game-price {
  color: #fff;
}

span.badge-warning, .discount {
  color: #f9cd14;
}

#games {
  font-size: 12px;
  width: 300px;
}

.badge {
  font-size: 12px;
}

.search-box {
  margin-bottom: 0;
}

.search-box input, .search-box input:focus {
  background: none;
  border:0;
  border-bottom: 1px solid white;
  color: #fff;
  padding: 2px 5px;
}

.search-box input::placeholder, .search-box input:focus::placeholder {
  color: #ccc;
}

.pswish-block {
  font-size: 14px;
  width: 300px;
  padding: 8px;
}

.pswish-block a {
  color: #f9cd14;
}

.close-info {
  cursor: pointer;
}

.login-error {
  width: 200px;
}

.fa-refresh, .fa-close {
  cursor: pointer;
}
