<!doctype html>
<head>
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../js/tether.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/vue.min.js"></script>
    <!--script type="text/javascript" src="../../js/vue.common.dev.js"></script-->
    <script type="text/javascript" src="../../js/lodash.js"></script>

    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/pswish.css" type="text/css">
</head>
<body>
  <div id="app">
    <div v-if="state === STATE.LOGIN_ERROR" class="pswish-block login-error">
      Please <a class="login-link" href="javascript:void;" @click="openStore()">login</a> and then click <i class="fa fa-refresh" @click="reload()"></i>
    </div>
    <div v-if="state === STATE.INFO" class="pswish-block pswish-info">
      <i class="fa fa-close float-right close-info" @click="toggleInfo()"></i>
      PsWish v1.5<br>
      Contact me <a class="twitter-link" href="javascript:void;" @click="openTwitter()">@b2kdaman</a>
    </div>
    <ul v-if="state === STATE.DEFAULT" class="games-list list-group">
      <li class="list-group-item row no-gutters pswish-menu">
        <div class="col-9 form-group align-self-center search-box">
          <input type="text" class="form-control" placeholder="Search" v-model="searchString"/>
        </div>
        <div class="col-3 text-center">
          <i class="fa fa-refresh" :class="{ 'fa-spin' : loading }" @click="reload()"></i>
          <i class="fa fa-info-circle" @click="toggleInfo()"></i>
        </div>
      </li>
    </ul>
    <div  v-if="state === STATE.DEFAULT && gamesList" id="games">
      <ul v-for="game in filteredGamesList" class="games-list list-group">
          <li class="list-group-item row no-gutters pswish-game" @click="openGame(game)">
            <div class="game-title col-8">
              {{ game.name }}
            </div>
            <div class="game-price col-4 text-right">
                  <span :class="{ discount: game.discount }">
                    {{ game.displayPrice }}
                  </span>
            </div>
          </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="browser_action.js"></script>
</body>